.center {
  text-align: center;
}

.desktop-left {
  text-align: left;
}

.popular-vtuber-container-box {
  padding: 1rem;
}

.popular-vtuber-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.popular-vtuber-container img {
  object-fit: cover;
  aspect-ratio: 3/2;
  width: 100%;
}

.popular-vtuber-detail-section {
  padding: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.videos-section-container {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 1rem;
}

.videos-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.vtuber-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-title {
  text-align: center;
  background-color: var(--color-component-background);
  width: 100%;
}

.citations-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.citation-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.appendix-contaienr {
  margin: 2rem;
  max-width: 500px;
}

.appendix-title {
  margin: 2rem;
  text-align: left;
}
.appendix-text {
  margin: 2rem;
  text-align: left;
}

.pop-up-container {
  display: none;
}

.pop-up-container.show {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99999999999;
}

.pop-up {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--color-component-background);
  padding: 1rem;
  width: 80vw;
  min-height: 50vh;
  max-width: 800px;
  border-radius: 5px;
}

.pop-up-content {
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.close-pop-up {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  transform: translateY(150%);
}

@media screen and (max-width: 736px) {
  .popular-vtuber-container {
    display: block;
  }

  .popular-vtuber-detail-section {
    padding: 1rem;
    text-align: unset;
  }

  .videos-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .citation-group {
    align-items: center;
    flex-direction: column;
  }

  .appendix-title {
    margin: 2rem;
    text-align: center;
  }
  .appendix-text {
    margin: 2rem;
    text-align: center;
  }
}
